.services-page {
  font-family: "Segoe UI", sans-serif;
  background: #f9fbfd;
  color: #222;
}

/* Hero */
.services-hero {
  background: linear-gradient(rgba(81, 85, 89, 0.7), rgba(8, 16, 24, 0.7)),
    url("https://images.unsplash.com/photo-1659024015880-ba08b81a0910?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
      center/cover no-repeat;
  color: hsl(0, 0%, 100%);
  padding: 5rem 2rem;
  text-align: center;
  height: 70vh;
}

.services-hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.services-hero p {
  max-width: 700px;
  margin: auto;
  font-size: 1.2rem;
}

/* Grid */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: auto;
}

.service-card {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.service-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.service-content {
  padding: 1.5rem;
  text-align: center;
}

.service-icon {
  font-size: 2rem;
  color: #0056a6;
  margin-bottom: 0.5rem;
}

.service-content h3 {
  margin: 0.5rem 0;
  font-size: 1.3rem;
  color: #0056a6;
}

.service-content p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 1rem;
}

.read-more {
  text-decoration: none;
  color: #ff9900;
  font-weight: bold;
  transition: 0.3s;
}

.read-more:hover {
  color: #cc7700;
}
